@import "tailwindcss";

/* img{
    width: 15rem;
    height: 10rem;
}
ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    flex: 1;
}

.recipes{
    margin: 50px 100px;
    text-align: center;
} */